<div id="about" class="vh50">
	<div class="container py-4 text-center">
		<div class="row">
			<hr class="mt-4 px-0 col-4 titleHR">
			<div class="col-sm-4">
				<h1 class="title">About <hr class="underlineHR"> </h1>
			</div>
			<hr class="mt-4 px-0 col-4 titleHR">
		</div>
		<div class="pt-2 px-4 col-md-10 offset-md-1">
			<p>A self-taught programmer started coding way back in 2010. Was introduced to algorithms and coding in 10th class as a part of course curriculum. My interest grew up quickly and started coding daily, initially in C++ language. Being from a small town there weren't many offline resources to learn from, so with the help of the internet, I explored various languages and ways I can solve my day-to-day problems with just a help from a simple computer program. <br>
			And here I am 6 years later, completing multiple projects, internships, competitive coding challenges, hackathons, etc. Wins and losses all came down the line but my love for programming never changed.
			</p>
			<p class="pt-2">
				<strong class="text-purple" style="font-size: larger;">Pavankumar Mahadik</strong><br>
				<em>- Turning coffee to code since 2010.</em>
			</p>
		</div>
	</div>
</div>
<div id="education" class="vh50">
	<div class="container py-4">
		<div class="row text-center pb-4">
			<hr class="mt-4 px-0 mx-0 col-4 titleHR">
			<div  class="col-sm-4">
				<h1 class="title">Education <hr class="underlineHR inverse"> </h1>
			</div>
			<hr class="mt-4 px-0 mx-0 col-4 titleHR">
		</div>
		<div class="px-md-4">
			<div class="row animated tl" *ngFor="let item of items">
				<div class="col-3 text-md-right">
					<h4>{{item.year}}</h4>
				</div>
				<div class="col-9 timeline-item">
					<h4><strong>{{item.title}}</strong></h4>
					<h6>{{item.desc}}</h6>
				</div>
			</div>
		</div>
	</div>
</div>