<div id="experience" class="vh100">
	<div class="container py-4">
		<div class="row text-center pb-4">
			<hr class="mt-4 px-0 mx-0 col-4 titleHR">
			<div  class="col-md-4">
				<h1 class="title">Experience <hr class="underlineHR inverse"> </h1>
			</div>
			<hr class="mt-4 px-0 mx-0 col-4 titleHR">
		</div>
		<div class="px-md-4">
			<div class="row animated tl" *ngFor="let experience of experiences">
				<div class="col-3 text-md-right">
					<h4>{{experience.year}}</h4>
				</div>
				<div class="col-9 col-md-7 timeline-item">
					<h4><strong>{{experience.title}}</strong></h4>
					<ul>
						<li *ngFor="let d of experience.desc" [innerHTML]="d"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>