<div id="contact" class="vh90">
	<div class="container py-4">
		<div class="row text-center">
			<hr class="mt-4 px-0 col-4 titleHR">
			<div class="col-md-4 mb-4">
				<h1 class="title">Contact <hr class="underlineHR"> </h1>
			</div>
			<hr class="mt-4 px-0 col-4 titleHR">
		</div>
		<div class="row">
			<div class="col-md-6 text-left px-4">
				<div class="row text-purple">
					<h4>Send a quick message!</h4>
				</div>
				<div class="row">
					<input type="text" name="name" placeholder="Name" class="px-2 m-1 col">
					<input type="text" name="email" placeholder="Email" class="px-2 m-1 col">
				</div>
				<div class="row">
					<input type="text" name="subject" placeholder="Subject" class="px-2 m-1 col">
				</div>
				<div class="row">
					<!-- TODO: full size textarea -->
					<!-- TODO: scrollup text not available in phones - debug -->
					<textarea class="px-2 m-1 mb-4 col" placeholder="Message" style="resize: none;" rows="12"></textarea>
				</div>
				<div class="row">
					<button class="btn btn-success mx-auto">Submit<i class="fa fa-paper-plane pl-1"></i></button>
				</div>
			</div>
			<div class="col-md-6 px-4">
				<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15088.162047493946!2d73.08603712531081!3d19.017936430481175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e9d390c16fad%3A0x45a26096b6c171fd!2sKamothe%2C+Panvel%2C+Navi+Mumbai%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1514094580727" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe> -->
				<!-- <h2 class="text-uppercase"><u>Pavankumar Mahadik</u></h2> <br>
				<h5 class="pb-2">Ph.: +91 8082160741</h5>
				<h5 class="pb-2">Email: pavan1645@gmail.com</h5>
				<h5 class="pb-2">Location: Kamothe, Navi Mumbai</h5> <br> -->
			</div>
		</div>
	</div>
</div>
<div id="footer" class="vh10 bg-dark text-light p-4 text-center">
	<h5>&copy; Pavankumar Mahadik</h5>
	<h5><small>Photography Blog: <a href="#" class="text-warning">gallery.pavankumar.tk</a></small></h5>
</div>