<div id="contact" class="vh75">
	<div class="container py-4">
		<div class="row text-center">
			<hr class="mt-4 px-0 col-4 titleHR">
			<div class="col-sm-4 mb-4">
				<h1 class="title">Contact <hr class="underlineHR"> </h1>
			</div>
			<hr class="mt-4 px-0 col-4 titleHR">
		</div>
		<div class="row">
			<div class="col-md-6 text-left px-4">
				<div class="row">
					<input type="text" name="name" placeholder="Name" class="px-2 m-1 col">
					<input type="text" name="email" placeholder="Email" class="px-2 m-1 col">
				</div>
				<div class="row">
					<input type="text" name="subject" placeholder="Subject" class="px-2 m-1 col">
				</div>
				<div class="row">
					<!-- TODO: full size textarea -->
					<!-- TODO: scrollup text not available in phones - debug -->
					<textarea class="px-2 m-1 mb-4 col" placeholder="Message" style="resize: none;" rows="10"></textarea>
				</div>
			</div>
			<div class="col-md-6 px-4">
				<h2 class="text-uppercase"><u>Pavankumar Mahadik</u></h2> <br>
				<h5 class="pb-2">Ph.: +91 8082160741</h5>
				<h5 class="pb-2">Email: pavan1645@gmail.com</h5>
				<h5 class="pb-2">Location: Kamothe, Navi Mumbai</h5> <br>

				<h4 class="font-weight-light font-italic">Have a minute to spare?</h4>
				<h5>I love photography too. Visit my photogallery at:</h5>
				<h5><a href="#" class="text-primary">gallery.pavanmahadik.tk</a></h5>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="vh25 bg-dark text-light p-4 text-center">
	<h5>&copy; Pavankumar Mahadik</h5>
	<h5><u>All rights reserved</u></h5>
</div>