*{font-family: 'Raleway', sans-serif;}
a, a:active, a:hover, a:focus, a:visited{color: black; text-decoration: none;}
.text-purple{color: #404086}
.text-gold{color: #e9a92b}

.row{margin-left: 0 !important; margin-right: 0 !important}
nav {padding: 0rem 1rem !important;}
nav a {line-height: 32px; padding-left: 0.5rem !important}
nav .active {background-color: red; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);}
.vh100{min-height: 100vh;}
.vh90{min-height: 90vh;}
.vh75{min-height: 75vh}
.vh60{min-height: 60vh;}
.vh50{min-height: 50vh;}
.vh25{min-height: 25vh;}
.vh10{min-height: 10vh;}
.titleHR{
	display: inline-block;
	height: 0.2px
}
.underlineHR{
	display: none;
	margin: 0 auto;
	width: 80%;
	height: 1px;
	background: linear-gradient(to right, transparent 0%, black 30%, black 70%, transparent 100%);
}
.underlineHR.inverse{
	background: linear-gradient(to right, transparent 0%, white 30%, white 70%, transparent 100%);
}
.underlineHR.inverse.left{
	background: linear-gradient(to right, transparent 0%, white 100%);
	margin: 0.5rem 0;
	width: 100%
}
.title{
	display: inline;
	padding: 0;
}

#hero{background-image: url('../images/code_bg_35.jpg');}
#hero a {color: white}
.centerCard {margin-top: auto !important}
.centerCardPhoto {
	padding: 0;
	background-image: url('/assets/images/temp_photo.jpg');
	background-size: cover;
	background-position: center;
	min-height: 50vh;
}
.centerCardPhoto, .centerCardDetails {
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-out;
}
.socialIcons{-webkit-animation-duration: 0.5s;}
.centerCardDetails .underlineHR{display: block;}
#triangle {
	width: 100%;
	height: 100%;
	background: #404086;
	-webkit-clip-path: polygon(50% 0%, 0% 0%, 0% 100%);
	clip-path: polygon(50% 0%, 0% 0%, 0% 100%);
	margin-bottom: auto;
}


#about .titleHR,
#work .titleHR,
#technologies .titleHR,
#contact .titleHR{background-color: black;}

#education,
#experience, 
#achievement{background-color: #cd9933; color: white}
#education .titleHR, 
#experience .titleHR,
#achievement .titleHR{background-color: white;}

.tl:first-child > .timeline-item{border-image: linear-gradient(to bottom, transparent 7%, white 7%, white 100%) 1 100%; border-image-width: 0 0 0 2px}
.tl:last-child > .timeline-item{border-image: linear-gradient(to bottom, white 0%, white 7%, transparent 7%, transparent 100%) 1 100%; border-image-width: 0 0 0 2px}
.timeline-item{border-left: 2px solid white; padding-bottom: 20px;}
.timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 7%;
	position: absolute;
	left: -6px;
	border-radius: 10px;
	content: '';
	border: 2px solid white;
	background: white;
}
.tl {
	visibility: hidden;
}
.slick-prev:before, .slick-next:before {
  color: #404086;
}

@media screen and (max-width: 768px){
	.fa-angle-left,.fa-angle-right{position: absolute; z-index: 2; color: black !important;}
	.fa-angle-right{right: 0}
	.row .titleHR{display: none}
	.underlineHR{ display: block; }
	.tl{ visibility: visible; }
	#triangle{display: none}
	.centerCardPhoto{order: 1}
	.centerCardDetails{order: 2}
}