<div id="hero" class="d-flex flex-column vh100">

	<nav id="navbar" class="navbar navbar-expand-lg fixed-top px-0">
		<a class="navbar-brand justify-content-start pl-4" href="#">Pavankumar Mahadik</a>
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-end mr-3" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#hero">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#education">Education</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#work">Work</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#experience">Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#achievement">Achievement</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="centerCard row vh75" style="">
		<i class="fa fa-angle-left fa-3x align-self-center offset-sm-1 text-light" (click)="dec()"></i>
		<div class="centerCardLeft col-md-4 col-sm-10 d-flex align-items-center offset-md-2 offset-sm-1 animated"
		[style.background-image]="'url(../assets/images/'+title.image+')'"></div>
		<div class="centerCardRight col-md-4 offset-md-0 col-sm-10 offset-sm-1 bg-light d-flex flex-row animated">
			<div class="flex-column">
				<h2 class="text-center pt-4">{{title.title}}</h2>
				<hr>
				<p class="text-justify">{{title.desc}}</p>
			</div>
		</div>
		<i class="fa fa-angle-right fa-3x align-self-center text-light mx-auto" (click)="inc()"></i>
	</div>
</div>
<div>
	<app-abedu></app-abedu>
	<app-work></app-work>
	<app-experience></app-experience>
	<app-achievement></app-achievement>
	<app-contact></app-contact>
</div>
