<div id="hero" class="d-flex vh100">

	<nav id="navbar" class="navbar navbar-expand-lg fixed-top px-0">
		<a class="navbar-brand pl-4" href="#hero">Pavankumar Mahadik</a>
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse justify-content-end mr-md-3" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#education">Education</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#work">Work</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#experience">Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#achievement">Achievement</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="col-md-8 offset-md-2 p-0" style="margin-top: auto;">
		<div class="card text-center" style="">
			<div class="row vh60">
				<div class="col-sm-7 centerCardDetails p-md-4 p-2 text-left" style="">
					<h2 class="mb-0 text-light">Pavankumar Mahadik</h2>
					<h4 class="text-gold mb-4"><small>Web and Android Developer<hr class="underlineHR inverse left"></small></h4>
					<h5 *ngFor="let detail of details">
						<i class="mt-2 mx-2 fa fa-fw text-gold" [ngClass]="detail.icon"></i>
						<span class="text-light font-weight-bold">{{detail.title}} :</span>
						<span class="text-gold">{{detail.desc}}</span>
					</h5>
				</div>
				<div class="col-sm-5 p-0 centerCardPhoto" style="">
					<div id="triangle"></div>
				</div>
			</div>
			<div class="row socialIcons text-purple">
				<a class="col-2 social" [href]="social.link" *ngFor="let social of socials" target="_blank">
					<img [src]="social.icon" class="img-fluid p-1 p-md-2">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="float-btn" data-toggle="tooltip" data-placement="top" title="Download Resume">
	<a href="http://tiny.cc/resume-pavan1645" target="_blank">
		<button class="btn bg-success text-light"><i class="fa fa-download fa-lg"></i></button>
	</a>
</div>
<div>
	<app-abedu></app-abedu>
	<app-work></app-work>
	<app-experience></app-experience>
	<app-achievement></app-achievement>
</div>
