<div id="technologies" class="container py-4 vh25">
	<div class="row">
		<hr class="mt-4 px-0 col-sm-3 titleHR">
		<div  class="col-md-5 text-center">
			<h1 class="title">Technologies <hr class="underlineHR"> </h1>
		</div>
		<hr class="mt-4 px-0 col-sm-3 titleHR">
		<div class="row pt-4 techSlide" style="width: 100%">
			<div class="col-sm-3" *ngFor="let tech of techs">
				<img [src]="'/assets/images/tech/'+tech" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<div id="achievement" class="vh75">
	<div class="container py-4 text-center">
		<div class="row">
			<hr class="mt-4 px-0 col-sm-3 titleHR">
			<div  class="col-md-5 text-center">
				<h1 class="title">Achievement <hr class="underlineHR inverse"> </h1>
			</div>
			<hr class="mt-4 px-0 col-sm-3 titleHR">
		</div>
	</div>
	<div class="achCard pb-2">
		<div class="row">
			<i class="fa fa-angle-left fa-3x align-self-center pl-2 col-md-1 offset-md-1" (click)="achDec()"></i>
			<div class="col-md-4 achCardLeft" [style.background-image]="'url(/assets/images/ach/'+title.image+')'"></div>
			<div class="col-md-4 achCardRight text-center">
				<h2 class="p-3">{{title.title}}<hr class="underlineHR"></h2> 
				<h5 class="text-left" [innerHTML]="title.desc"></h5>
			</div>
			<i class="fa fa-angle-right fa-3x align-self-center pr-2 mx-auto" (click)="achInc()"></i>
		</div>
	</div>
</div>

<style type="text/css">
</style>