#achievement{
	background: url('/assets/images/ach_bg.jpg');
	background-size: cover;
	background-position: top center;
}

.achCardLeft, .achCardRight {
	min-height: 60vh;
	width: 100%;
}
.achCardLeft {
	background-size: cover;
	background-position: center;
}
.achCardRight { background-color: white; color: black }
.achCardRight .underlineHR{
	display: block;
} 
.fa-angle-left,.fa-angle-right { cursor: pointer; width: auto; }